body{
    margin: 0;
    background: rgb(119, 154, 189);
    text-align: center;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}
.navbar ul{
    list-style-type:none;
    background-color:rgb(48, 45, 43);
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color:aliceblue;
    text-decoration:underline;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(119, 154, 189);
    color: black;
}
.navbar li{
    float: left;
}